/*-------------------------FONT-----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::placeholder {
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
        /*----------------------------PAGE-----------------------------*/

body, html
{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    position: relative;
    color: black;
}

#wrapper
{
    max-width: 1330px;
    margin: 0 auto;
}

#container
{
    max-width: 1330px;
    margin: 0%;
    padding-left: 20px;
    padding-right: 20px;
}

.main
{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

        /*--------------------------LOGO HEADER----------------------------*/

.header-top 
{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-top: 35px;
    margin-bottom: 45px;
}

.logo-booki
{
    padding-top: 10px;
}

/*---------------------------------------MENU----------------------------*/

.menu 
{
    margin:0;
    list-style-type: none;
}
li 
{
    float:left;
    margin-left: 70px;
}
.menu, li, a 
{  
    width:auto;
    padding: 5px;
}

a
{
    text-decoration: none;
    color: black;
}

.hebergements {
    padding: 0px 30px 0px 30px;
    margin-right: -60px;
}

.hebergements:hover
{
   
    color:#0065FC;   
    border-top: 3px solid #0065FC;
    padding-top: 42px;
    font-weight: 500;
}

.activites {
    padding: 0px 30px 0px 30px;
    margin-right: -20px;
}

.activites:hover
{
    color:#0065FC;   
    border-top:3px solid #0065FC;
    padding-top: 42px;
    font-weight: 500;
}

#texte
{
    margin-bottom: 0px;
}

/*-------------------------------------TITRE PAGE----------------------------*/

.titre
{
    font-size: 22px;  
    margin-bottom: -5px;
}

.sous-titre
{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

/*----------------------------RECHERCHE-----------------------------*/

.recherche
{
    display: flex;
}

form
{
    display: block;
}

.btn-form
{
    display: flex;
}

input.btn-txt
{
    height: auto;
    width: 215px;
    outline: none;
}

.recherche input
{
    height: 50px;
    border: 1px solid #f2f2f2;
    padding: 0 20px 0 20px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
}


.btn-txt
{
    cursor: auto;
    padding: 0px;

}

.btn-rch
{
    text-align: center;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    transition: 0.1s ease-in-out;
}

.btn-rch:hover
{
    background-color: #0050c7;
}

.icone
{
    padding: 14px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    width: 30px;
    height: 24px;
    font-size: 18px;
}

.fa
{
    font-family: "Font Awesome 5 Free";
}

.fa-map-marker-alt
{
    padding-top: 5px;
    padding-left: 10px;
    color: black;
}

.icon-rch
{
    opacity: 0;
}

/*--------------------------------------FILTRES----------------------------------*/

.filtres
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0px 20px 10px;
}

.filtres h3
{
    margin-right: 50px;
    font-weight: bolder;
    font-size: 18px;
}

.filtres-txt
{
    font-size: 18px;
    font-weight: bolder;
    padding: 0 10px;
}

.filtres-select
{
    display: flex;
    height: 50px;
    margin-right: 20px;
    padding: 0 10px 0 0;
    border: 2px solid #cecece;
    border-radius: 30px;
    align-items: center;
    justify-content: space-around;

}

.filtres-select:hover
{
    background-color: #deebff;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.filtres-select:hover i
{
    background-color: #0065FC;
    color: white;
    transition: all 200ms ease-in-out;
}

.filtres-icons
{
    font-size: 20px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #0065FC;
    background-color: #deebff;
    margin-left: -3px;
}

.filtres-select i
{
    align-items: center;
    justify-content: center;
    display: flex;
}

/*-------------------NOMBRE DE RESULTATS-------------------------*/

.header-banniere
{
    display: flex;
    align-items: center;
    font-size: 80%;
    margin-bottom: -20px;
    margin-top: 40px;
}
.header-banniere p
{
    font-size: 16px;
    font-weight: 400;
}

.header-banniere i 
{
    color: #0065FC;
}

.icon-info i
{
    align-items: center;
    display: flex;
    border-radius: 25px;
    border: 1px solid #dfdfdf;
    width: 25px;
    height: 25px;
    justify-content: center;
    margin: 0 5px 0 0;
}

        /*---------------------------HEBERGEMENTS---------------------------------*/

#hebergements-gauche
{
    width: 66%;
    background-color: #f2f2f2;
    border-radius: 18px;
}

.hebergement
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: auto;
}

.hebergement h2
{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: -15px;
}

.grille-gauche  figure:hover
{
    cursor: pointer;
    transform: scale(1.015);
}

.grille-gauche a
{
    width: 30%;
}

.grille-gauche figure
{
    border-radius: 20px;
    padding: 5px 5px 12px 5px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    transition: 0.2s ease-in-out;
}

.grille-gauche 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 10px;
}

.details h3
{
    margin-top: 10px;
    font-size: 16px;
}

.hebergements-marseille
{
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.image_hebergements {
    object-fit: cover;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
}

.details 
{
    padding-left: 10px;
    text-align: left;
}

.details p
{
    font-size: 14px;
    color: black;
    margin-top: -10px;
    margin-left: 1px;
}

figure h2, p 
{
    margin: 3px 0 2px 5px;
}

.note 
{
    font-size: 10px;
}

.note i
{
    margin-top: 7px;
    color: #0065FC;
    font-size: 12px;
}

.grille-gauche a:nth-child(1) .note i:nth-child(5)
{
    color: #d8d8d8;
}
.grille-gauche a:nth-child(3) .note i:nth-child(5)
{
    color: #d8d8d8;
}
.grille-gauche a:nth-child(4) .note i:nth-child(4)
{
    color: #d8d8d8;
}
.grille-gauche a:nth-child(4) .note i:nth-child(5)
{
    color: #d8d8d8;
}
.grille-gauche a:nth-child(5) .note i:nth-child(5)
{
    color: #d8d8d8;
}


.afficher-plus 
{
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
    margin-top: -30px;
    margin-bottom: 25px;
    display: block;
}


        /*--------------------------POPULAIRES------------------------*/

#populaires
{
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding-right: 10px;
    padding-left: 10px;
    width: 30%;
    padding-bottom: 20px;
}

#star_populaires {
font-size: 21px;
margin-right: 12px;
}

#populaires h2
{
    font-size: 22px;
    margin-left: 25px;
    margin-top: 40px;
}

.populaires-titre
{
    display: flex;
    color: black;
    justify-content: flex-end;
    align-items: center;
    margin-top: -45px;
    margin-bottom: 10px;
    font-size: 25px;
}

.populaires
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 10px;
}

.grille-populaires
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 0px;
}

.grille-populaires a
{
    width: 95%;
}

.grille-populaires figure
{
    background-color: #ffffff;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    cursor: pointer; 
    display: flex;
    max-width: 100%;
    transition: 0.2s ease-in-out;
}
.grille-populaires figure:hover
{
    transform: scale(1.015);
}

.fa-chart-line
{
    color: black;
    padding-top: 0;
    padding-right: 10px;
}

.hebergements-populaires
{
    padding: 5px;
    border-radius: 20px;
    height: 140px;
    margin: 18px 0px -2px;
}

.hebergements-populaires a
{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.image_populaires
{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.pop-details
{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding-left: 10px;
}

.pop-details h3
{
    font-size: 16px;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 20px;
}

.pop-details p
{
    font-size: 14px;
    margin-top: -20px;
    margin-left: 10px;
}

.pop-note
{
    color: #0065FC;
    font-size: 10px;
    margin-left: 10px;
}

.grille-populaires a:nth-child(2) .pop-note i:nth-child(5)
{
    color: #d8d8d8;
}

.grille-populaires a:nth-child(3) .pop-note i:nth-child(5)
{
    color: #d8d8d8;
}

        /*--------------------ACTIVITES--------------------*/

#activites
{
    border-radius: 18px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

#activites h2
{
    font-size: 22px;
    font-weight: bolder;
}

#activites p
{
    padding: 10px 0 35px 10px;
    font-weight: bolder;
    font-size: 16px;
    text-align: left;
}

.act-marseille
{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 550px;
}

.act-marseille .act-simple 
{
    margin: 0;
    width: 25%;
    height: 440px;
}

.act-marseille .act-double 
{
    margin: 0;
    width: 22%;
    height: 440px;
}

.act-marseille .act-double2 
{
    margin: 0;
    width: 22%;
    height: 440px;
}

.act-simple
{
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 9px 2px rgba(191,191,191,0.5);
    transition: 0.2s ease-in-out;
}

.act-simple:hover
{
    transform: scale(1.015);
}

.act-double
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.act-double2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.act-carte1
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 9px 2px rgba(191,191,191,0.5);
    height: 240px;
    overflow: hidden;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.act-carte1-1
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 9px 2px rgba(191,191,191,0.5);
    height: 200px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.act-carte1:hover 
{
    transform: scale(1.015);
}

.act-carte1-1:hover
{
    transform: scale(1.015);
}

.act-carte2
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 9px 2px rgba(191,191,191,0.5);
    height: 165px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.act-carte2:hover
{
    transform: scale(1.015);
}

.act-carte1 img
{
    width: 100%;
}

.act-simple img
{
    width: 210%;
    height: 390px;
    object-fit: cover;
    object-position: -175px;
    margin-top: -20px;
}


.act-carte2 img
{
    width: 10%;
}

.act-carte1-1 img
{
    width: 100%;
}

.img-moyenne img
{
    height: 180px;
    width: 110%;
    object-fit: cover;
    object-position: -10px -120px;
    margin-top: -20px;
}

.petite-carte img
{
    height: 110px;
    width: 110%;
    object-fit: cover;
    object-position: -20px -20px;
    margin-top: -20px;
}

.petite-carte5 img
{
    height: 145px;
    width: 100%;
    object-fit: cover;
    margin-top: -20px;
}

.petite-carte6 img
{
    height: 145px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-top: -20px;
}

#calanques {

    filter: brightness(1.3);
}

/*------------------------------------FOOTER-----------------------------*/

footer 
{
    margin-top:-75px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-titre 
{
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 18px;
    padding-right: 75px;
}

footer ul 
{
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
    text-align: left;
}

footer li 
{
    font-size: 14px;
    margin-top: 1px;
    margin-left: -100px;
    float: initial;
    font-size: 16px;
}

footer li a
{
    padding-left: 0;
}

.non-visible
{
    opacity: 0;
}
